<p>
    <strong>Focusable</strong> - {{ 'EXAMPLES.FOCUSABLE_DESCRIPTION' | translate }}.
</p>
<p>{{ 'EXAMPLES.PRESS' | translate }}
    <span class="button">Tab</span> {{ 'EXAMPLES.TO_CHOOSE_CARD' | translate }} <!-- to choose card and -->
    <span class="button">up</span>,
    <span class="button">down</span>,
    <span class="button">left</span>,
    <span class="button">right</span> {{ 'EXAMPLES.TO_CHANGE_FOCUSABLE_ELEMENTS' | translate }}.</p> <!-- buttons to change focusable elements in list -->

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card pipFocused>
        <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
            <mat-list-item class="pip-focusable" tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable" tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card pipFocused pipFocusedOpacity="true" [focusedData]="collection">
        <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card pipFocused pipFocusedOpacity="true" focusedColor="#EF6C00" focusedData="collection">
        <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
            <mat-list-item class="pip-focusable " tabindex="-1">{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}</mat-list-item>
        </mat-list>
    </mat-card>
</div>

<!-- <mat-card pipFocused pipFocusedOpacity="true" [dynamicTrigger]="collection.length" focusedColor="#EF6C00" focusedData="collection">
    <mat-list class="pip-menu pip-ref-list" style="padding: 0px">
        <mat-list-item class="pip-focusable " tabindex="-1" *ngFor="let element of collection; let i = index">
            {{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }} {{ i }}
        </mat-list-item>
    </mat-list>
</mat-card>
<button (click)="remove()">remove</button>
<button (click)="add()">add</button> -->
<!--div class="layout-row layout-align-start-start" fxLayout="row" fxLayoutAlign="start start">
    <div pipFocused focusedColor="'#EF6C00'" focusedClass="'white-text'" style="display: inline-block;">
        <p>{{ 'EXAMPLES.FOCUSABLE_ELEMENT' | translate }}s:</p>
        <div class="layout-row layout-align-start-start" fxLayout="row" fxLayoutAlign="start start">
            <div class="pip-focusable layout-column layout-align-center-center" tabindex="0" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); padding-top: 8px;">
                <mat-icon mat-svg-icon="icons:plus" style="height: 65px; width: 65px"></mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">Added</span>
            </div>
            <div class="pip-focusable layout-column layout-align-center-center" fxLayout="column" fxLayoutAlign="start start" tabindex="-1" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); margin-left: 8px; padding-top: 8px;">
                <mat-icon style="height: 65px; width: 65px">trash</mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">Deleted</span>
            </div>
        </div>
    </div>

    <div pipFocused focusedColor="'#43A047'" focusedClass="'white-text'" style="display: inline-block; margin-left: 8px">
        <p>Attachments:</p>
        <div class="layout-row layout-align-start-start">
            <div class="pip-focusable layout-column layout-align-center-center" fxLayout="row" fxLayoutAlign="start start" tabindex="0" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); padding-top: 8px;">
                <mat-icon mat-svg-icon="icons:picture-no-border" style="height: 65px; width: 65px"></mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">Picture</span>
            </div>
            <div class="pip-focusable layout-column layout-align-center-center" fxLayout="row" fxLayoutAlign="start start" tabindex="-1" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); margin-left: 8px; padding-top: 8px;">
                <mat-icon mat-svg-icon="icons:film" style="height: 65px; width: 65px"></mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">Video</span>
            </div>
        </div>
    </div>

    <div pipFocused focusedColor="'#03A9F4'" focusedClass="'white-text'" style="display: inline-block; margin-left: 8px">
        <p>Some about event:</p>
        <div class="layout-row layout-align-start-start">
            <div class="pip-focusable layout-column layout-align-center-center" fxLayout="column" fxLayoutAlign="start start" tabindex="0" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); padding-top: 8px;">
                <mat-icon mat-svg-icon="icons:date" style="height: 65px; width: 65px"></mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">When</span>
            </div>
            <div class="pip-focusable layout-column layout-align-center-center" fxLayout="column" fxLayoutAlign="start start" tabindex="-1" style="height: 100px; width: 100px; background-color: rgba(0, 0, 0, 0.16); margin-left: 8px; padding-top: 8px;">
                <mat-icon mat-svg-icon="icons:location" style="height: 65px; width: 65px"></mat-icon>
                <span class="flex text-button " style="width: 80px; text-align: center; ">Where</span>
            </div>
        </div>
    </div>
</div-->