.mat-card {
    padding: 0;
}

.app-infinite-scroll {
    overflow-y: auto;
    height: 500px;
    overflow-x: hidden;
}

.app-infinite-scroll .item-container {
    width: 680px;
    margin: 0 auto;
}

.app-infinite-scroll .item {
    margin: 10px;
    display: inline-block;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

.p24-flex {
    padding: 24px;
}

.p0 {
    padding: 0 !important;
}

@media (max-width: 768px) {
    .p24-flex {
        padding: 16px;
    }
}