<p>
  <strong>Infinite scroll</strong> - {{ 'EXAMPLES.INFINITE_SCROLL_DESCRIPTION' | translate }}.
</p>

<mat-card #scrollParent class="app-infinite-scroll pip-scroll" style="margin-left: 0px;">
  <div class="item-container" pipInfiniteScroll (onInfiniteScroll)="generateItems(10)" scrollContainer=".app-infinite-scroll"
       scrollListenForEvent="windowResized" scrollDistance="0.1">
    <mat-card class="item" *ngFor="let item of items">
      {{ item.name }}
    </mat-card>
  </div>
</mat-card>