.drag-scroll-test {
	overflow: scroll;
	height: 400px;
    overflow-x: hidden;
}

.drag-scroll {
    margin-left: 0px;
}

.drag-scroll .scroll-card {
    padding: 0px;
}

.drag-scroll [pipDrag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
    height: 85px;
}

.drag-scroll [pipDrag] div {
    padding: 8px;
    box-sizing: border-box;
    transition: all .35s ease;
    height: 85px;
}

.drag-scroll [pipDrag].pip-dragging {
    opacity: 0.95;
}

.drag-scroll [pipDrag].pip-dragging div {
    height: 85px !important;
}

.drag-scroll [pipDrop] {
	position: relative;
}

.drag-scroll [pipDrop].pip-drag-enter div {
    //height: 55px;
}

.drag-scroll [pipDrop] {
    transition: padding .35s ease;
}

.drag-scroll [pipDrop].pip-drag-enter:not(.virtual) {
    padding-bottom: 85px !important;
}

.drag-scroll [pipDrop] div {
	/*position: relative;*/
	z-index: 2;
}

.selected-sample.pip-menu {
    height: 600px;
    overflow: auto;  /*for selected */
    padding-top: 0px; /*for selected scroll to element*/
    padding-bottom: 0px; /*for selected scroll to element*/ 
}

.mat-card {
    padding: 0;
}