<p>
  <strong><code>pip-selectable</code> and <code>pipSelectable</code></strong> -
  {{ 'EXAMPLES.SELECTABLE_DESCRIPTION' | translate }}.
</p>

<p>
  <mat-checkbox color="primary" (change)="changeDisabled($event.checked)">
    {{ 'EXAMPLES.SELECTED.DISABLED' | translate }}
  </mat-checkbox>
  <br />
  <mat-form-field>
    <button mat-button matPrefix mat-icon-button (click)="restricted = !restricted">
      <mat-icon>{{ restricted ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
    </button>
    <input matInput type="number" [placeholder]="'EXAMPLES.SELECTED.RESTRICTED' | translate" [(ngModel)]="height">
  </mat-form-field>
</p>
<pip-selectable (selected)="selected($event)" [resolver]="resolver">
  <mat-nav-list>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of items" pipSelectable (keypress)="keypress()">
      {{ item.title }}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
</pip-selectable>

<div [ngStyle]="{'height': restricted ? (height || 200)  + 'px' : 'auto', 'overflow': restricted ? 'auto' : 'unset'}">
  <pip-selectable (selected)="selected($event)" [index]="selectedIndex" [resolver]="resolver">
    <mat-nav-list>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of items" pipSelectable (keypress)="keypress()">
        {{ item.title }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </pip-selectable>
</div>