<p [ngClass]="{'raised-bg': raisedBg, 'raised-fg': raisedFg}">
  <strong>Hotkeys</strong> - {{ 'EXAMPLES.HOTKEYS_DESCRIPTION' | translate }}.
</p>
<dl>
  <dd>
    Ctrl+Alt+L
  </dd>
  <dt>{{'EXAMPLES.HOTKEYS.LANGUAGE_CHANGE' | translate}}</dt>
  <dd>
    Ctrl+Altt+F
  </dd>
  <dt>{{'EXAMPLES.HOTKEYS.STATE_CHANGE' | translate}}</dt>
</dl>
<dl>
  <dd>
    Alt+H
  </dd>
  <dt>{{'EXAMPLES.HOTKEYS.CHANGE_BACKGROUND' | translate}}</dt>
  <dd>
    Alt+.
  </dd>
  <dt>{{'EXAMPLES.HOTKEYS.CHANGE_FOREGROUND' | translate}}</dt>
</dl>